
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Roboto:wght@100;300;400;500;700;900&display=swap');
* { font-family: 'Roboto', sans-serif;
   
}

strong {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}
/*############## block 1 logo ###################*/

#bock_1 {
    display: flex;
    flex-direction: column;
}

header {
    font-family: 'Roboto Slab', serif;
    font-weight: 750;
    font-size: 14px;
    color: #868686;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
   
}

header img {
    height: 63px;
}

header ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 100%;
}

header li {
    padding-right: 30px;
}
/*############### block 2 photos des etudiants ########*/

#block_2 {
    display: flex;
    background-color: #336699;
    font-size: 25px;
    color: #FFF;
    line-height: 1.2em;
 
}


.fa-magnifying-glass {
    font-size: 20px;
}

.center {
    text-align: center;
}

#presentation {
    display: flex;
    width: 50%;
    min-width: 470px;
}

#pcontenu {
    margin: auto;
    width: 60%;
}

p {
    padding-bottom: 1em;
}

button {
    height: 54px;
    border: 0;
    border-radius: 100px;
    color: #FFF;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 6.6px;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 6.6px;
}

#pcontenu button {
    background-color: #FF2063;
    font-size: 22px;
}

.etoile {
    font-weight: 100;
    font-size: 12px;
    line-height: 1.2em;
    margin-top: 10px;
}

#imgstudent img {
    width: 100%;
    min-width: 300px;
}

/*-########################### block 3 métiers du numérique ################*/
#block_3 {
    color: #336699;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 5.5%;
}

#block_3 p {
    font-size: 1.1em;
    line-height: 1.5em;
}

#block_3 button {
    background-color: #FFCA4B;
    font-size: 0.95em;
    font-weight: 700;
    display: block;
    margin: auto;
}


h2 {
    font-family: "Roboto Slab", Georgia, "Times New Roman", serif;
    font-size: 40px;
    line-height: 40px;
    padding-bottom: 10px;
    font-weight: 900;
}

section {
    margin-bottom: 50px;
}

#elements {
    display: flex;
    justify-content: space-between;
    margin: 80px 0px;
}

element {
    width: 24%;
    padding: 30px 40px;
}

element div {
    margin-bottom: 30px;
}

element img {
    display: block;
    margin: auto;
}

.element {
    box-shadow: 0px 0px 40px #33669920;
}

.logo {
    height: 100px;
}

h3 {
    font-family: 'Roboto Slab',Georgia,"Times New Roman",serif;;
    font-size: 1.5em;
    font-weight: 900;
    padding-bottom: 10px;
}
/*######### block 4 transformation numérique ########*/
.transformation_numerique {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 45px;
    margin-bottom: 45px;
    padding-top: 10px;
}

.transformation_numerique > div {
    max-width: 985px;
    padding-left: 15px;
}
/*############block 5 orange #################################*/
#block_5 {
    background-color: #FFA000;
    color: #FFF;
    margin-top: 140px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#block_5 h2 {
    margin-top: 70px;
    margin-bottom: 20px;
    text-align: center;
}

#block_5 p {
    font-size: 1.1em;
    line-height: 1.5em;
    max-width: 1080px;
    text-align: center;
    margin: auto;
}

#videos {
    width: 100%;
}

#video_element {
    display: flex;
    justify-content: space-between;
    padding: 25px 0px;
    margin: 0px 5.5%;
    height: 100%;
}

iframe {
    border: 0px;
    width: 775px;
    height: 436px;
}

.video {
    margin-bottom: 30px;
}
/*###############################################################footer#################################################################*/
footer {
    background-color: #313131;
    padding-top: 75px;
}

#block_footer {
    display: flex;
    justify-content: center;
    margin: 0px 5.5% 45px 5.5%;
    font-size: 1em;
    color: #FFF;
    line-height: 2em;
}

h5 {
    font-size: 1.1em;
    font-weight: 700;
}

#block_footer #reseaux_sociaux {
    width: 25%;
    margin-right: 130px;
}

#reseaux_sociaux ul {
    display: flex;
    margin: 20px 0px 0px 20px;
    height: 50px;
    list-style-type:none;
}

#reseaux_sociaux ul .fa-brands {
    color: #FFF;
    font-size: 2.2em;
    margin-right: 8px;
    
   
}

#logoPlateforme {
    width: 90%;
    padding-top: 1.1em;
}

.resume_page {
    width: 20%;
    
   
}
.resume_page ul{
   
    list-style-type:none;
   
}

.footer_Bouton {
    font-size: 1.2em;
    margin-top: 15px;
    border: 2px solid #F1E9E9;
    background-color: #313131;
    border-radius: 0px;
    width: 50%;
    text-align: center;
   
}

#Image {
    width: 50%;
    margin-top: 20%;
   
    
}

#Footer_droits_réservés {
    background-color: #000;
    color: #FFF;
    height: 50px;
    display: flex;
    justify-content: space-around;
   
}

#Footer_droits_réservés ul {
    display: flex;
    flex-direction: row;
 
}

#Footer_droits_réservés ul li {
    margin-right: 10px;
    list-style-type:none;
}
